{% extends 'home_base.html' %}


{% block body %}

<!-- Main -->
<div class="view">

  <!-- Grid -->

  <section class="grid ">

    <h2> Password Reset </h2>
<br>
    <p>Forgotten your password? </p>
      <p> Enter your email address below and we'll email instructions for setting a new one</p>
<br>
    <form method="post">
      {% csrf_token %}
      {{form}}
      <input class="btn action--button-btn" type="Submit" name="Send email">
      <form>



        </section>

        </div>
{% endblock  %}
